numpy
torch>=2.1.0
torchaudio>=2.1.0
transformers
datasets
lightning
hydra-core
faster-whisper
tensorboard
natsort
einops
librosa
rich
wandb
grpcio
kui
uvicorn
loguru
loralib
pyrootutils
resampy
einx[torch]
zstandard
pydub
pyaudio
modelscope
opencc-python-reimplemented
silero-vad
ormsgpack
tiktoken
pydantic
cachetools
descript-audio-codec
descript-audiotools
safetensors
huggingface_hub